[Unit]
Description=Kafka Exporter
After=network.target

[Service]
User=kafka_exporter
Group=kafka_exporter
Type=simple
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/kafka_exporter \
    --kafka.server="{{ kafka_host }}:"{{ kafka_port }}""
    --web.listen-address=:9308

[Install]
WantedBy=multi-user.target
